*pyc
*.jpg
*.png
*pth
*ckpt
*.zip

.ipynb_checkpoints
./experiments/ckpt/*
./experiments/dataset/DomainNet/*
./experiments/dataset/Logit/*
./experiments/dataset/Office-31/*
./experiments/dataset/OfficeHome
./experiments/dataset/VisDA-2017
./experiments/img/confusion_matix/*
./experiments/img/count_bar/*
./experiments/img/decision_boundary/*
./experiments/img/tsne/*
./experiments/runs/*
./img/*
